.panel {

  width: 96%;
  height: 80%;
  /* display: block; */
  background-color: #807e7e;
  border: 1px solid black;
  position: relative;
  margin-top: 2%;
}

#panel-todo {

  float: left;
  margin-left: 2%;
  margin-right: 2%;
  overflow-x: hidden;
  overflow-y: scroll;

}

.complete-button {

  border-radius: 5px;
  float: left;
  margin-right: 5px;

}

#todo-console {

  padding-left: 2%;
  width: 96%;
  background-color: black;
  margin-top: 3%;
  height: 50%;
  overflow: hidden;

}

#console-text {

  color: white;
  vertical-align: middle;
  height: 100%;
  line-height: 60%;
  font-size:  2vh;
  font-family: 'VT323', monospace;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;


}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.main-title {

  text-align: center;

}

#todo-list {

  padding-left: 2%;
  width: 96%;

}

.todo-break {

  width: 96%;

}


.todo-item {

  word-wrap:break-word;

}

.fade-in {
  opacity: 1;
}

#new-todo-panel {

  width: 96%;
  margin-left: 2%;
  height: 10%;
  font-size: 20px;

}

#todo-input {

  width: 96%;
  height: 50%;
  font-size: 2vh;
  background: transparent;
  font-family: 'Manrope', sans-serif;
  border-color: grey;
  border-top-width: 0px;
  margin-top: 1%;
  padding-left: 2%;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1px;
  outline: none;
  color: white;
}

#todo-input:valid{

  border-color: #576fe6;

}

body {

  width: 100%;
  height: 100%;
  padding: 0px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  font-family: 'Manrope', sans-serif;
  background-color: #616060;
}

html {
  height: 100%;
}
